$headerHeight: pxToRem(64px);

@include adaptive($laptop, $laptop) {
  .header {
    position: absolute;
    max-width: $containerWidth;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: $headerHeight;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: pxToRem(24px);
      height: min-content;
    }
  }
}
@include adaptive($tab) {
  $headerHeight: 91px;
  .header {
    position: fixed;
    height: $headerHeight;
    &__container {
      padding: pxToRem(25px) 0 pxToRem(36px) 0;
    }
  }
}
@include adaptive($mob) {
  .header {
    height: $headerHeight;
    &__container {
      padding: pxToRem(25px) 0 pxToRem(25px) 0;
    }
  }
}
